#charts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 700px;
}
#charts .chart {
	flex: 1;
	padding: 10px 0;
	width: 150px;
}

#charts .background {
	fill: none;
}

#charts svg {
	font-size: 10px;
}
 
#charts .area {
	fill: var(--black);
	opacity: 0.4;
}
 
#charts .line {
	fill: none;
	stroke: var(--black);
	stroke-width: 1.4px;
}

#charts .label {
	font-family: BentonSansCond-Regular;
	font-size: 0.6rem;
}
#charts .title {
	font-family: BentonSansCond-Bold;
	font-size: 0.8rem;
}

#charts .y-axis path {
	display: none;
}
#charts .y-axis line, .grid line {
	stroke-width: 1px;
	shape-rendering: crispEdges;
	stroke: #fff;
	opacity: 0.5;
	pointer-events: none;
}

#charts .annotation {
	text-anchor: middle;
}